{% extends "base.html" %}
{% block content %}
<div class="row" style="padding-top:15px">
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">
        {% include 'includes/form_error.html' %}
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading">Counties</h5>
            </div>
            <div class="list-group-item">
              {% include 'includes/search_form.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if data %}
    <div class="row" id="results">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="list-group">
            <div class="list-group-item">
              <h5 class="list-group-item-heading">Data</h5>
            </div>
            <div class="list-group-item">
              <p><a href="{{config.PLACE_API_URL}}/counties/{{data['properties']['ons_code']}}" target="_blank">GeoJSON</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-md-8 hidden-xs hidden-sm" style="position:fixed; right:0;">
    <div class="panel panel-default" style="height:calc(100vh - 95px);">
      <div class="panel-body" id="map" style="height:100%">
        <script>
          var map = L.map('map').setView([54.525564, -3.921976], 5);
          var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors.'
          }).addTo(map);

          var myStyle = {
            color: "#2196f3",
            opacity: 1
          };

          function onEachFeature(feature, layer) {
            if (feature.properties) {
                layer.bindPopup("<b>Name:</b> " + feature.properties.name + "<br>" +
                "<b>ONS Code:</b> " + feature.properties.ons_code + "<br>" +
                "<b>Hectares:</b> " + feature.properties.hectares + "<br>" +
                "<b>Attribution:</b> " + feature.properties.attribution);
            }
          }

          {% if data %}
          geoJson = {{data|tojson|safe}}
          var geoJsonFeature = L.geoJSON(geoJson, {
            style: myStyle,
            onEachFeature: onEachFeature,
            attribution: 'Contains OS data &copy; Crown copyright and database right (2016)'
          }).addTo(map);
          map.fitBounds(geoJsonFeature.getBounds());
          {% endif %}
        </script>
      </div>
    </div>
  </div>
</div>
{% endblock %}
